<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chronik_fallback0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{104,84}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{104,84}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{104,84}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{104,84}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{104,84}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{104,84}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{108,78}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{108,78}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{108,78}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{108,78}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{108,78}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{108,78}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{110,76}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{110,76}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{110,76}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{110,76}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{110,76}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{110,76}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,96}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,96}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,96}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{84,110}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{84,110}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{84,110}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{84,110}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{82,104}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{82,104}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{82,104}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{82,104}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,844},{78,70}}</string>
                <key>offset</key>
                <string>{31,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{78,70}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,844},{78,70}}</string>
                <key>offset</key>
                <string>{31,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{78,70}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,844},{78,70}}</string>
                <key>offset</key>
                <string>{31,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{78,70}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,924},{66,72}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{66,72}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,924},{66,72}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{66,72}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,924},{66,72}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{66,72}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,998},{68,62}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{68,62}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,998},{68,62}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{68,62}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,998},{68,62}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{68,62}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,630},{98,58}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,58},{98,58}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,630},{98,58}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,58},{98,58}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,630},{98,58}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,58},{98,58}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,630},{98,58}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,58},{98,58}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{114,44}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{114,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{114,44}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{114,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{114,44}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{114,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{122,52}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,63},{122,52}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{122,52}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,63},{122,52}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,730},{112,48}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,67},{112,48}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,730},{112,48}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,67},{112,48}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{112,42}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{112,42}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{112,42}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{112,42}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{116,44}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{116,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{116,44}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{116,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{116,44}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{116,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{116,44}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{116,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
            <key>chronik_fallback0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{116,44}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{116,44}}</string>
                <key>sourceSize</key>
                <string>{140,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chronik-die-hd.png</string>
            <key>size</key>
            <string>{120,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e4c16de66f8cb8a6dd19df633b8fc3:ec67acc3c4e73d10baf266e6fe182aa0:2e33a7300c3ea66d5763d0c3ad496c40$</string>
            <key>textureFileName</key>
            <string>chronik-die-hd.png</string>
        </dict>
    </dict>
</plist>
