<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chronik_fallback0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{207,168}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{207,168}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{207,168}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{207,168}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{207,168}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{207,168}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,471},{213,156}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{213,156}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,471},{213,156}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{213,156}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,471},{213,156}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,44},{213,156}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{219,152}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{219,152}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{219,152}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{219,152}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{219,152}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{219,152}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{227,190}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{227,190}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{227,190}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{227,190}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{227,190}}</string>
                <key>offset</key>
                <string>{-26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{227,190}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,226}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,226}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,226}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{163,220}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,13},{163,220}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{163,220}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,13},{163,220}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,686},{161,208}}</string>
                <key>offset</key>
                <string>{46,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,22},{161,208}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,686},{161,208}}</string>
                <key>offset</key>
                <string>{46,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,22},{161,208}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,686},{153,140}}</string>
                <key>offset</key>
                <string>{63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,89},{153,140}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,686},{153,140}}</string>
                <key>offset</key>
                <string>{63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,89},{153,140}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,686},{153,140}}</string>
                <key>offset</key>
                <string>{63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,89},{153,140}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{131,142}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{131,142}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{131,142}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{131,142}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{131,142}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{131,142}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,841},{133,124}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{133,124}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,841},{133,124}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{133,124}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,841},{133,124}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{133,124}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,896},{195,112}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{195,112}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,896},{195,112}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{195,112}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,896},{195,112}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{195,112}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,896},{195,112}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{195,112}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,227},{225,86}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{225,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,227},{225,86}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{225,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,227},{225,86}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{225,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,230},{239,102}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,128},{239,102}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,230},{239,102}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,128},{239,102}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,455},{223,96}}</string>
                <key>offset</key>
                <string>{-18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,134},{223,96}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,455},{223,96}}</string>
                <key>offset</key>
                <string>{-18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,134},{223,96}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{223,82}}</string>
                <key>offset</key>
                <string>{-3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,154},{223,82}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{223,82}}</string>
                <key>offset</key>
                <string>{-3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,154},{223,82}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,224},{229,86}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{229,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,224},{229,86}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{229,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,224},{229,86}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{229,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,224},{229,86}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{229,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
            <key>chronik_fallback0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,224},{229,86}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,150},{229,86}}</string>
                <key>sourceSize</key>
                <string>{279,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chronik-die-ipadhd.png</string>
            <key>size</key>
            <string>{479,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e4c16de66f8cb8a6dd19df633b8fc3:ec67acc3c4e73d10baf266e6fe182aa0:2e33a7300c3ea66d5763d0c3ad496c40$</string>
            <key>textureFileName</key>
            <string>chronik-die-ipadhd.png</string>
        </dict>
    </dict>
</plist>
