<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chronik_fallback0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{52,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{52,43}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{52,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{52,43}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{52,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{52,43}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,39}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{54,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,39}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{54,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,39}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{54,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{56,39}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{56,39}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{56,39}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,39}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{58,49}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{58,49}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{58,49}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{58,57}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{58,57}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{42,57}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{42,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{42,57}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{42,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{40,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{40,53}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{40,53}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{40,53}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{40,37}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{40,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{40,37}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{40,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{40,37}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{40,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{34,37}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{34,37}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{34,37}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{34,31}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{34,31}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{34,31}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{34,31}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{50,29}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{50,29}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{50,29}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{50,29}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{58,23}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{58,23}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{58,23}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,537},{62,27}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{62,27}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,537},{62,27}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{62,27}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,477},{58,25}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{58,25}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,477},{58,25}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{58,25}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,33},{58,21}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,38},{58,21}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,33},{58,21}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,38},{58,21}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{58,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{58,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{58,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{58,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>chronik_fallback0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{58,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{58,23}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chronik-die.png</string>
            <key>size</key>
            <string>{61,601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e4c16de66f8cb8a6dd19df633b8fc3:ec67acc3c4e73d10baf266e6fe182aa0:2e33a7300c3ea66d5763d0c3ad496c40$</string>
            <key>textureFileName</key>
            <string>chronik-die.png</string>
        </dict>
    </dict>
</plist>
