<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceball_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{50,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iceball_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{52,50}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iceball_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{54,50}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iceball_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{54,50}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iceball_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,50}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iceball_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,50}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceball-hd.png</string>
            <key>size</key>
            <string>{339,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9715f725b7b0d2fb13374193ac39b57:3dea234e2b06cd6f632453d969846964:d105c932ccb032c47ddbb68c3788e680$</string>
            <key>textureFileName</key>
            <string>iceball-hd.png</string>
        </dict>
    </dict>
</plist>
