<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceball_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{28,24}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{30,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,34},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>iceball_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,34},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iceball_die.png</string>
            <key>size</key>
            <string>{152,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1915c4d8b03b0265ebe2ac4cfe14fd75:fde39fc9d4acbbb08c2d1a35d3a8464b:8816f3602248bb3117bf2959f5451635$</string>
            <key>textureFileName</key>
            <string>iceball_die.png</string>
        </dict>
    </dict>
</plist>
