<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{176,171}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{176,171}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,191}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{186,191}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>darkcookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{176,171}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{176,171}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
            <key>donut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{184,181}}</string>
                <key>sourceSize</key>
                <string>{200,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_enemies-hd.png</string>
            <key>size</key>
            <string>{190,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e282aa765b0697f4fee5cf8fe454afb:7a2b465b9d282bc8848d2e097981994d:5771f67f7c6c94e10bd2204ea6065844$</string>
            <key>textureFileName</key>
            <string>space_enemies-hd.png</string>
        </dict>
    </dict>
</plist>
