<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{350,344}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,44},{350,344}}</string>
                <key>sourceSize</key>
                <string>{400,450}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,380}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{372,380}}</string>
                <key>sourceSize</key>
                <string>{400,450}</string>
            </dict>
            <key>darkcookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{350,344}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{350,344}}</string>
                <key>sourceSize</key>
                <string>{400,450}</string>
            </dict>
            <key>donut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{366,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{366,362}}</string>
                <key>sourceSize</key>
                <string>{400,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_enemies-ipadhd.png</string>
            <key>size</key>
            <string>{376,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e282aa765b0697f4fee5cf8fe454afb:7a2b465b9d282bc8848d2e097981994d:5771f67f7c6c94e10bd2204ea6065844$</string>
            <key>textureFileName</key>
            <string>space_enemies-ipadhd.png</string>
        </dict>
    </dict>
</plist>
