<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{88,85}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{88,85}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,95}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{92,95}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>darkcookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{88,87}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{88,87}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>donut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{92,91}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space_enemies.png</string>
            <key>size</key>
            <string>{96,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e282aa765b0697f4fee5cf8fe454afb:7a2b465b9d282bc8848d2e097981994d:5771f67f7c6c94e10bd2204ea6065844$</string>
            <key>textureFileName</key>
            <string>space_enemies.png</string>
        </dict>
    </dict>
</plist>
